<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="aws_access_key_id" value="AKIAUZHMWFAC6EMDIU2K"/>
		<add key="aws_secret_access_key" value="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"/>
		<add key="region" value=""/>
  </appSettings>
</configuration>